[submodule "src/data/DSmith"]
	path = src/data/DSmith
	url = https://github.com/zijiancogito/DSmith.git
[submodule "src/preprocess/dwarfinfo"]
	path = src/preprocess/dwarfinfo
	url = https://github.com/zijiancogito/dwarfinfo.git
